<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static',filename='predict.css')}}">
  <script src="https://kit.fontawesome.com/2295466095.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' />
</head>
<body>
  <div class = "back"></div>
  <div class="registration-form">
    
    <header>
      <h1>Predict Your Dates</h1>
      <p>Let's Begin the prediction!! </p>
    </header>

    <form method="POST" action="{{ url_for('predict')}}">

    <!-- ************************  -->
      <div class="input-section email-section">
        <input name="CycleWithPeakorNot" type="number" class="email" autocomplete="off" placeholder="Cycle Peak : 0 or 1"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="ReproductiveCategory" type="number" class="email" autocomplete="off" placeholder="Reproductive Category : 0 or 1 or 2 or 9"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="LengthofLutealPhase" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Length of Luteal Phase :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="FirstDayofHigh" type="number" class="email" autocomplete="off" steps=0.01 placeholder="First Day of High :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalNumberofHighDays" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total Number of High Days :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalHighPostPeak" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total High Post Peak : 0 or 1 or 2 or 3 or 4 or 5 or 6 or 7"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalNumberofPeakDays" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total Number of Peak Days :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalDaysofFertility" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total Days of Fertility :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalFertilityFormula" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total Fertility Formula :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="LengthofMenses" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Length of Menses :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="MensesScoreDayOne" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Menses Score Day One : 1 or 2 or 3"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="MensesScoreDayTwo" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Menses Score Day Two : 1 or 2 or 3"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="MensesScoreDayThree" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Menses Score Day Three : 1 or 2 or 3"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="MensesScoreDayFour" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Menses Score Day Four : 1 or 2 or 3"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="MensesScoreDayFive" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Menses Score Day Five : 1 or 2 or 3"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="TotalMensesScore" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Total Menses Score :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="NumberofDaysofIntercourse" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Number of Days of Intercourse :"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="IntercourseInFertileWindow" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Intercourse in Fertile Window : 0 or 1"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      <div class="input-section email-section">
        <input name="UnusualBleeding" type="number" class="email" autocomplete="off" steps=0.01 placeholder="Unusual Bleeding : 0 or 1"/>
        
        <div class="animated-button">
          <span class="icon-paper-plane">
            <i class="fas fa-chess-queen"></i>
          </span>
          <span class="next-button email">
            <i class="fa fa-arrow-up"></i>
          </span>
        </div>
      </div>
      
    <!-- ************************  -->



      <div class="input-section password-section folded">
        <input class="password" type="password" placeholder="ENTER YOUR PASSWORD HERE"/>
        <div class="animated-button"><span class="icon-lock"><i class="fa fa-lock"></i></span><span class="next-button password"><i class="fa fa-arrow-up"></i></span></div>
      </div>
      <div class="input-section repeat-password-section folded">
        <input class="repeat-password" type="password" placeholder="REPEAT YOUR PASSWORD HERE"/>
        <div class="animated-button"><span class="icon-repeat-lock"><i class="fa fa-lock"></i></span><span class="next-button repeat-password"><button type="submit"><i class="fa fa-paper-plane"></i></button></span></div>
      </div>
      <div class="success"> 
        <p>ACCOUNT CREATED</p>
      </div>
    </form>



  </div>

  <script
          src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='predict.js')}}"></script>

</body>

</html>




